
#titulo {
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.5cm;
  color: black;
  letter-spacing: 18px;
  
  
  }
  /* Form1 */
  #form {
  background-color: rgb(37, 31, 31);
  color: white;
  border-radius: 19px;
  left: 4px;
  
  }
  #sub{
  text-align: center;
  }
  
  #form input[type = "text"], #form input[type = "number"], #form input[type = "date"], #form input[type = "email"] {
  border: 0;
  background: none;
  display: block;
  border: 2px solid #3498db;
  padding: 23px 10px;
  outline: none;
  border-radius: 17px;
  transition: 0.25s;
  color: white;
  }
  #form input[type = "text"]:focus, #form input[type = "number"]:focus, #form input[type = "date"]:focus, #form input[type = "email"]:focus {
  border-color: #cc2e55;
  
  }
  /* Form2 */
  
  #form2 {
    background-color: rgb(37, 31, 31);
    color: white;
    border-radius: 19px;
    left: 4px;
    
    }
    #sub{
    text-align: center;
    }
    
    #form2 input[type = "text"], #form2 input[type = "number"], #form2 input[type = "date"], #form2 input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    border: 2px solid #3498db;
    padding: 23px 10px;
    outline: none;
    border-radius: 17px;
    transition: 0.25s;
    color: white;
    }
    #form2 input[type = "text"]:focus, #form2 input[type = "number"]:focus, #form2 input[type = "date"]:focus, #form2 input[type = "email"]:focus {
    border-color: #cc2e55;
    
    }
  
  #btnTalleres {
  border-radius: 15px;
  margin: 4px auto;
  
  }
  #btnParticipante {
  border-radius: 15px;
  margin: 4px auto;
  
  }
  .carousel-item {
  transition: 3s;
  
  }
  
  #navtaller{
    margin-bottom: 100px;
  }
  
  
  
  #nav{
    margin-bottom: 100px;
  }
  .fas, .far {
  
    margin-right: 5px;
    font-size: 20px;
    
  }
  